<div class="row">
    <p>{{ store.postsCount() }}</p>
    <div class="">
        <form [formGroup]="addForm" (ngSubmit)="onAdd()">
            <input type="text" class="form-control" placeholder="Add..." formControlName="title">
        </form>

        @if (store.isLoading()) {
            <div>Loading...</div>
        }

        @if (store.error()) {
            <div>{{ store.error() }}</div>
        }

        <div class="mt-4">
            <ul class="list-group">
                @for (post of store.posts(); track $index) {
                    <li class="list-group-item d-flex justify-content-between">
                        <ng-container *ngIf="editingPostId !== post.id; else editMode">
                            {{ post.title }}
                        </ng-container>
                        <ng-template #editMode>
                            <input type="text" [(ngModel)]="editingPostTitle" class="form-control">
                        </ng-template>
                        <div>
                            <ng-container *ngIf="editingPostId !== post.id; else saveCancelButtons">
                                <i (click)="editPost(post.id, post.title)" class="bi bi-pencil-square text-info"></i>
                            </ng-container>
                            <ng-template #saveCancelButtons>
                                <i (click)="saveEditedPost()" class="bi bi-check-square text-success" style="margin-right: 5px;"></i>
                                <i (click)="cancelEdit()" class="bi bi-x-square text-danger"></i>
                            </ng-template>
                            <span style="margin-right: 10px;"></span>
                            <i (click)="removePost(post.id)" class="bi bi-x-lg text-danger"></i>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>